<div class="productDetailContainer">
  <div class="title-container">
    <h1 *ngIf="product">Product Detail: {{ product.description }}</h1>
    <h1 *ngIf="!product">New Product</h1>
    <button mat-raised-button color="warn" type="button" (click)="goBack()">
      Back to Products
    </button>
  </div>

  <mat-card class="mat-card">
    <form [formGroup]="productForm" (ngSubmit)="saveChanges()">
      <mat-card-header>
        <mat-card-title *ngIf="product">
          <strong>SKU: {{ product.sku }}</strong>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="mat-card-content">
        <div class="input-container" *ngIf="!product">
          <p><strong>SKU:</strong></p>
          <mat-form-field>
            <input matInput placeholder="Enter SKU" formControlName="sku" />
          </mat-form-field>
        </div>
        <div class="input-container">
          <p><strong>Description:</strong></p>
          <mat-form-field>
            <input
              matInput
              placeholder="Enter description"
              formControlName="description"
            />
          </mat-form-field>
        </div>
        <div class="input-container">
          <p><strong>Category:</strong></p>
          <mat-form-field>
            <mat-select
              class="categoryInput"
              formControlName="category"
              placeholder="Select a Category"
            >
              <mat-option
                *ngFor="let category of categories"
                [value]="category"
              >
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input-container">
          <p><strong>Stock:</strong></p>
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="Stock"
              formControlName="stock"
            />
          </mat-form-field>
        </div>
        <div class="input-container">
          <p><strong>Price:</strong></p>
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="Price"
              formControlName="unitPrice"
            />
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">
          Save changes
        </button>
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="confirmDelete()"
        >
          Delete Product
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
