<div class="productDetailContainer">
  <h1 *ngIf="product">Product Detail: {{ product.name }}</h1>
  <h1 *ngIf="!product">New Product</h1>

  <mat-card>
    <form [formGroup]="productForm" (ngSubmit)="saveChanges()">
      <button mat-raised-button color="warn" type="button" (click)="goBack()">
        Back to Products
      </button>

      <mat-card-header>
        <mat-card-title *ngIf="product">
          <strong>SKU: {{ product.sku }}</strong>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p><strong>Description:</strong></p>
        <mat-form-field>
          <input
            matInput
            placeholder="Enter description"
            formControlName="description"
            [value]="product?.name || ''"
          />
        </mat-form-field>

        <p><strong>Category:</strong></p>
        <mat-form-field>
          <mat-select
            class="categoryInput"
            formControlName="category"
            placeholder="Select a Category"
          >
            <mat-option *ngFor="let category of categories" [value]="category">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <p><strong>Stock:</strong></p>
        <mat-form-field>
          <input
            matInput
            type="number"
            placeholder="Stock"
            formControlName="stock"
            [value]="product?.stockQuantity || ''"
          />
        </mat-form-field>

        <p><strong>Price:</strong></p>
        <mat-form-field>
          <input
            matInput
            type="number"
            placeholder="Price"
            formControlName="unitPrice"
            [value]="product?.price || ''"
          />
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">
          Save changes
        </button>
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="confirmDelete()"
        >
          Delete Product
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
