.productDetailContainer {
  /* margin: 5%; */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}
.productDetailContainer button {
  margin: 7px;
}

.mat-card {
  width: 100%;
}

.mat-card-content {
  display: flex;
  flex-wrap: wrap;
}

.input-container {
  width: calc(50% - 20px);
  padding: 0 10px;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-card-actions {
  justify-content: flex-end;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title-container h1 {
  margin-right: auto;
}
