.productsContainer {
  margin: 5%;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Esto empuja el botón de New Product a la derecha */
  margin-bottom: 20px;
  width: 100%;
}

.search input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search button {
  background-color: #3f51b5;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.search button:hover {
  background-color: #79aee7;
}

/* Aplica margen a todos los selects */
.search mat-form-field {
  margin: 0 25px;
}

.newProduct {
  margin-left: auto; /* Esto alinea el botón a la derecha */
}

.newProduct button {
  background-color: #70da9c;
  color: black;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 18px;
}

.paginator {
  margin-top: 20px;
}

.stock-below-minimum {
  background-color: rgba(255, 0, 0, 0.2); /* Fondo rojo suave */
}

.stock-equals-minimum {
  background-color: rgba(255, 255, 0, 0.2); /* Fondo amarillo suave */
}
