<mat-sidenav-container class="sidenav-container">
  <mat-sidenav opened mode="side" [style.width]="'15rem'">
    <div class="sidenav-header">
      <img
        width="150"
        height="150"
        src="/assets/home-button.png"
        alt="logo"
        class="home-icon"
      />
      <h2 class="t2-menu">Retail Shop</h2>
    </div>
    <mat-nav-list class="navList">
      <ng-container *ngFor="let item of menuItems">
        <a mat-list-item *ngIf="item.label !== 'Logout'" [routerLink]="item.route">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </a>

        <button mat-list-item *ngIf="item.label === 'Logout'" (click)="logout()">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </button>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
