<mat-sidenav-container class="sidenav-container">
  <mat-sidenav opened mode="side" [style.width]="'15rem'">
    <div class="sidenav-header">
      <img
        width="150"
        height="150"
        src="/assets/home-button.png"
        alt="logo"
        class="home-icon"
      />
      <h2 class="t2-menu">Retail Shop</h2>
    </div>
    <mat-nav-list class="navList">
      <a mat-list-item *ngFor="let item of menuItems" [routerLink]="item.route">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- <div class="home-background">
  </div> -->
</mat-sidenav-container>
