.search {
  margin: 2vh;
  display: flex;
  align-items: center;
  gap: 20px; /* Espacio entre elementos */
  flex-wrap: wrap; /* Para ajustar en móviles si es necesario */
  width: 80%;
}

.search input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  flex: 1;
}

.search button {
  background-color: #007bff;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search button:hover {
  background-color: #79aee7;
}

.search p {
  margin: 0;
  font-weight: bold;
}

.mat-form-field {
  min-width: 150px; /* Define un ancho mínimo para los selectores */
  flex: 1;
}

.newProduct button {
  background-color: #ffbb00;
  color: black;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-left: 8vw;
  height: 7vh;
  width: 7vw;
}
